@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import "./placeholders";
@import "./mixins";

$smallScreen: 576px;
$middleScreen: 1200px;


html {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: Inter;

    h1,
    h2,
    h3,
    p {
      margin: 0;
    }

    .generator-block {
      @media (min-width: $middleScreen) {
        max-width: 1140px;
      }
      padding-bottom: 6rem;
      padding-top: 6rem;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      width: 90%;
      margin: 150px auto;

      .text-generator {
        @extend %flexCenter;
        margin-bottom: 32px;

        h1 {
          color: #2a182e;
          font-weight: 600;
        }
      }

      .uuid-container {
        @extend %flexCenter;
        .text-uuid{
          @media (max-width: $smallScreen) {
            font-size: 14px;
          }
          font-size: 18px
         
        }
      }

      .container-button {
        @extend %flexCenter;
        margin-bottom: 32px;

        .btn-generate {
          @media (max-width: $smallScreen) {
            font-size: 15px;
          }
          @include btnSize(40%, 48px, none);
          @include swButton();
          @include swButtonFonts();
          font-family: Inter;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }
        }
      }

      .container-btn {
        @extend %flexCenter;
        margin-top: 32px;
        display: none;

        .btn-copy {
          @media (max-width: $smallScreen) {
            font-size: 10px;
          }
          @include btnSize(30%, 48px, none);
          @include copyButton();
          @include swButtonFonts();
          font-family: Inter;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          }

          &:disabled {
            background-color: #28192d;
            opacity: 0.7;
            cursor: no-drop;
          }
        }
      }

      .info-togenerator {
        padding: 0 15px;
        @extend %flexCenter;
        h3{
          @media (max-width: $smallScreen) {
            font-size: 15px;
          }
        }
      }
    }
  }
}


